<div class="widget-wrap">
  <h3 class="widget-title">To you, who are reading...</h3>
  <div class="widget">
    <p>The title says, "life journal", What do you expected?</p>
    <p>Kidding ;) I started this blog just to write down many things I got along the way from a programmer to wherever I am now.</p>
  </div>
</div>
